html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
p,
ul,
li {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  background-color: gray;
  padding-top: 130px;
}

.weather {
  max-width: 621px;
  min-height: 383px;
  background-color: white;
  margin: 0 auto;
  position: relative;
}

.weather__inner {
  width: 600px;
  min-height: 359px;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid black;
  padding: 7px;
  display: flex;
  justify-content: space-between;
}

.form__input {
  width: 100%;
  position: relative;
  border: none;
}

.form__button {
  background-color: white;
  border: none;
  width: 30px;
  height: 30px;
  padding-right: 5px;
  cursor: pointer;
  position: relative;
}

.form__button-img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 313px;
}

.section__part {
  width: 50%;
}

.section__part-border {
  border-right: 1px solid black;
}

.part__degrees {
  font-size: 70px;
  margin-left: 10px;
}

/* .part__degrees .sup {
  width: 13px;
  height: 13px;
} */

.part__img {
  text-align: center;
  margin-top: 40px;
}

.part__footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 40px;
}

.part__footer-button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.section__part-added {
  height: 68px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.section__part-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  height: 50px;
  font-size: 30px;
}

.section__part-delete {
  background-color: white;
  border: none;
  rotate: 45deg;
  font-size: 30px;
  cursor: pointer;
}
